<div class="container-fluid row " style="height: 90vh;">
    <div class="col-2 p-0">
        <app-side></app-side>
    </div>
    <div class="col-10">
        <h1>Employee list</h1>
        <div class="mt-4 d-flex justify-content-between">
            <div class="d-flex">
                <input type="text" [(ngModel)]="key" placeholder="Enter name to search" class="form-control me-2 w-75" name="" id="">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" (click)="sortById()">Sort by Id</a></li>
                      <li><a class="dropdown-item" (click)="sortByName()">Sort by name</a></li>
                      
                    </ul>
                  </div>
            </div>
            <a routerLink="/employee/add" class="btn btn-primary">Add employee</a>
        </div>
        <table class="table table-bordered mt-5">
            <thead>
                <tr *ngFor="let i of employees|search:key">
                    <th>{{i.eid}}</th>
                    <th>{{i.name}}</th>
                    <th>{{i.phone}}</th>
                    <th>{{i.status}}</th>
                
                    <td><button class="btn btn-success" *ngIf="i.status=='active'">Active</button></td>
                    <td><button class="btn btn-warning" *ngIf="i.status=='inactive'">Inactive</button></td>
                    <td>
                        <i routerLink="/employee/edit/{{ i.id }}" class="fa-solid fa-user-pen m-2" ></i>
                        <i class="fa-solid fa-trash m-2" style="color: #f91a31;" (click)="deleteEmp(i.id)"></i>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>
