<div class="w-100 d-flex justify-content-center align-items-center border shadow" style="height: 80%;" >
    <button class="btn btn-secondary" (click)="toggleStatus()" *ngIf="!formStatus">Edit Profile</button>
    <div *ngIf="formStatus">
        <h3 class="text-center">Update Profile</h3>
        <form action="">
            <label >
                <input type="file" style="display: none;" (change)="getFile($event)" >
                <img [src]="profileImage" alt="img" class="img-fluid rounded ">
            </label>
            <input type="text" placeholder="email" [(ngModel)]="adminProfile.email" name="email" id="" class="form-control mt-2">
            <input type="text" placeholder="password" [(ngModel)]="adminProfile.password" name="password" id="" class="form-control mb-2">
            <div class="d-flex justify-content-between">
                <button class="btn  btn-success mb-2" (click)="handleSubmit()">Update</button>
                <button class="btn btn-danger ms-auto mb-2" (click)="toggleStatus()">Cancel</button>
            </div>
        </form>
    </div>
</div>